.app__content {
    display: flex;
    position: relative;
    top: 68px;
    min-height: calc(100vh - 68px);
    background:#fafafa;

}

.app__content.active .sidebar {
    width: 60px;
}

.app__content.active .sidebar__text {
    opacity: 0;
    margin-left: 2rem;
}

.app__content.active .videos,
.app__content.active .search__page {
    margin-left: 60px;
    width: 100%;
}
