.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.header__left,
.header__center,
.header__right {
    display: flex;
    align-items: center;
}

.header__logo {
    object-fit: contain;
    width: 112px;
    margin-left: 0.5rem;
}

.header__center {
    width: 40%;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.header__center input {
    flex: 1;
    padding: 0 .75rem;
    border: 0;
    outline: 0;
    height: 100%;
    font-size: 0.98rem;
}

.header__center .btn { 
    background: var(--very-light-gray);
    height: 100%;
    color: #8a8a8a;
    padding: 0 1.5rem;
    border-left: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__search {
    font-size: 1.25rem;
}

.header__right .btn {
    padding: 0.5rem;
    margin: 0 .4rem;
    color: var(--dark-gray);
}

.btn.btn__round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #78909c;
    color: #fff;
}

@media screen and (max-width: 640px) {
    .header__right {
        display: none;
    }
}

