.sidebar__row {
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    color: var(--dark-gray);
    cursor: pointer;

}

.sidebar__text {
    margin-left: 1.6rem;
    font-size: 0.98rem;
    white-space: nowrap;
    transition: .5s ease;
}

.sidebar__row:hover {
    background-color: var(--light-gray);
}

.sidebar__row.selected {
    background-color: var(--very-light-gray);
}

.sidebar__row.selected .sidebar__icon {
    color: var(--yt-red);
}

.sidebar__row.selected .sidebar__text {
    font-weight: 500;
    color: var(--text-dark);
}