.video__card {
    width: 280px;
    margin-bottom: 40px;
}

.thumbnail {
    height: 148px;
    width: 94%;
}

.videocard__info {
    display: flex;
    margin-top: 1rem;
    padding-right: 2rem;
}

.video__text {
    margin-left: 1rem;
}

.video__text h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.video__text p {
    font-size: 14px;
    color: gray;
}

.video__avatar {
    height: 30px !important;
    width: 30px !important;
}